@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */


*::-webkit-scrollbar {
  display: none;
}
* {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #0062ff;
}

::selection {
  color: white;
  background: #0062ff;
}

*:focus {
  outline: none !important;
}

form {
  z-index: 1px !important;
}
#create-header {
  z-index: 10px !important;
}

@font-face{
  src: url('../public/assets/fonts/Satoshi-Variable.ttf');
  font-family: 'Satoshi-medium';
  font-weight: 600;
}
@font-face{
  src: url('../public/assets/fonts/Satoshi-Variable.ttf');
  font-family: 'Satoshi-semibold';
  font-weight: 700;
}
@font-face{
  src: url('../public/assets/fonts/Satoshi-Variable.ttf');
  font-family: 'Satoshi-bold';
  font-weight: 800;
}
@font-face{
  src: url('../public/assets/fonts/Satoshi-Variable.ttf');
  font-family: 'Satoshi-extrabold';
  font-weight: 900;
}
*::selection{
  background-color: #6366F1;
  color: white;
}

.font-extrabold{
  font-family: 'Satoshi-extrabold';
}
.font-bold{
  font-family: 'Satoshi-bold';
}
.font-semibold{
  font-family: 'Satoshi-semibold';
}
.font-medium{
  font-family: 'Satoshi-medium';
}

/* Visita Text Animation */

.visita-text-animation h1 {
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.visita-text-animation span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin: 0 7px 0 0;
}

.visita-text-animation span:nth-child(1) {
  animation: fade-in 01s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(2) {
  animation: fade-in 01s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(3) {
  animation: fade-in 01s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(4) {
  animation: fade-in 01s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(5) {
  animation: fade-in 01s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(6) {
  animation: fade-in 01s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(7) {
  animation: fade-in 01s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(8) {
  animation: fade-in 01s 01s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(9) {
  animation: fade-in 01s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(10) {
  animation: fade-in 01s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(11) {
  animation: fade-in 01s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(12) {
  animation: fade-in 01s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(13) {
  animation: fade-in 01s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(14) {
  animation: fade-in 01s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(15) {
  animation: fade-in 01s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(16) {
  animation: fade-in 01s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(17) {
  animation: fade-in 01s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.visita-text-animation span:nth-child(18) {
  animation: fade-in 01s 11s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* CUSTOM CLASSES */
:root {
  --primary-color: #0062ff;
  --secondary-color: #1ed760;
  ---third-color: #101111;
}

body {
  overflow-x: hidden;
}

/* COLOR CLASSESS */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-third {
  color: var(--third-color);
}

/* BACKGROUND CLASSES */
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-third {
  background-color: var(--third-color);
}

/* ATHOR CLASSES */
.border-light {
  border: 1px solid #ffffff0b;
}
.border-b-light {
  border-bottom: 1px solid #0000000b;
}
.border-l-light {
  border-left: 1px solid #0000000b;
}
.border-r-light {
  border-right: 1px solid #0000000b;
}
.border-t-light {
  border-top: 1px solid #0000000b;
}

/* FONT CLASSESS */
/* .font-visita-bold {
    font-family: 'visita-bold';
  }
  .font-visita-black {
    font-family: 'visita-black';
  }
  .font-visita-book {
    font-family: 'visita-book';
  }
  .font-visita-medium {
    font-family: 'visita-medium';
  } */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.hero-animation {
  height: 2000px;
}

/* Hero */
.hero {
  height: 85vh;
}

@media only screen and (min-width: 350px) and (max-width: 1000px) {
  .cta-wrapper {
    height: 45vh !important;
  }
  svg {
    display: none !important;
  }
  .show-svg {
    display: block !important;
  }
}
@media only screen and (min-width: 750px) and (max-width: 1450px) {
  .gradient-text {
    --bg-size: 400%;
    --color-one: #0062ff;
    --color-two: blueviolet;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }

  @media (prefers-reduced-motion: no-preference) {
    .gradient-text {
      animation: move-bg 18s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
}
.templates-show-wrapper {
  height: 500px;
  width: 90%;
}

.template-slider-wrapper {
  height: 900px;
  width: 400px;
  transform: rotate(30deg);
  overflow-y: scroll;
}
.template {
  min-height: 500px;
  transform: rotateY(5deg);
}

.template img {
  box-shadow: 2px 2px 20px rgba(64, 0, 0, 0.145);
}

.slide-template-1 {
  animation: slide-1 200s ease-in-out infinite;
}

@keyframes slide-1 {
  0% {
    transform: translateY(-16200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.slide-template-2 {
  animation: slide-2 200s ease-in-out infinite;
}

@keyframes slide-2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-16200px);
  }
}
.slide-template-3 {
  animation: slide-3 400s ease-in-out infinite;
}

@keyframes slide-3 {
  0% {
    transform: translateY(-16200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.features-wrapper {
  height: 80vh;
}
.cta-wrapper {
  width: 90%;
  height: 50vh;
}

.cta-aura {
  height: 700px;
}
footer {
  min-width: 90%;
}

.features-aura {
  height: 600px;
  right: -300px;
}
.features-aura-2 {
  height: 700px;
  left: -400px;
}
.cta-aura {
  height: 600px;
  right: -300px;
}
.cta-aura-2 {
  height: 500px;
  opacity: 0.3;
  left: -200px;
  transform: rotate(-205deg);
  top: -200px;
}
.benefits-aura {
  height: 600px;
  left: -50px;
}
.hero-aura {
  height: 500px;
  left: 550px;
}
.header-active {
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 5rem !important;
}

.header-inactive {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 4rem !important;
}
.support input {
  border-radius: 0.75rem;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#change_text_templates:after {
  content: "";
  animation: changeText 40s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
@keyframes changeText {
  0% {
    content: "Modern";
  }
  10% {
    content: "Premium";
  }
  20% {
    content: "Responsive";
  }
  30% {
    content: "Colorful";
  }
  40% {
    content: "Unique";
  }
  50% {
    content: "Modern";
  }
  60% {
    content: "Premium";
  }
  70% {
    content: "Responsive";
  }
  80% {
    content: "Colorful";
  }
  90% {
    content: "Unique";
  }
  100% {
    content: "Colorful";
  }
}

.template-wrapper .template-redirect-button-wrapper {
  transform: translateY(-60px);
}
.template-wrapper:hover .template-redirect-button-wrapper {
  transform: translateY(0);
}

/* Create Upload Logo */
#create-logo-preview {
  width: 145px;
  margin-bottom: 20px;
}
#create-logo-preview img {
  max-width: 100px;
  max-height: 100px;
  display: block;
}
.create-logo-upload [type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}
.create-logo-upload [type="file"] + label {
  font-family: "clash-display-bold";
  background-color: #fff;
  color: #0062ff;
  padding: 10px 30px;
  border: 2px solid #0062ff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.create-logo-upload [type="file"] + label:hover {
  background-color: #0062ff;
  color: #fff;
}
#create-logo-preview img {
  border-radius: 50px;
}

.create-inputs-wrapper {
  bottom: 0;
  /* opacity: 0;
  visibility: hidden; */
  animation: animate_create_inputs_wrapper 1.5s
    cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.create-next-buttons-wrapper {
  margin-bottom: -200vh;
  animation: animate_create_next_buttons_wrapper 0.5s
    cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes animate_create_inputs_wrapper {
  0% {
  }
  100% {
  }
}
@keyframes animate_create_next_buttons_wrapper {
  0% {
    margin-bottom: -200vh;
  }
  100% {
    margin-bottom: 0;
  }
}

.process_indicator-1 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.2s;
}
.process_indicator-2 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.3s;
}
.process_indicator-3 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.4s;
}
.process_indicator-4 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.5s;
}
.process_indicator-5 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.6s;
}
.process_indicator-6 {
  transform: translateX(-20px);
  opacity: 0;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: process_indicator_animate 2s cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards 0.7s;
}

.loading-indicator-active-1 {
  transition: 0.6s ease-in-out;
  animation: animate_indicator 0.6s ease-in-out infinite;
  transform: translateY(-5px);
}
.loading-indicator-active-2 {
  transition: 0.6s ease-in-out;
  animation: animate_indicator 0.6s 0.1s ease-in-out infinite;
  transform: translateY(-5px);
}
.loading-indicator-active-3 {
  transition: 0.6s ease-in-out;
  animation: animate_indicator 0.6s 0.2s ease-in-out infinite;
  transform: translateY(-5px);
}

@keyframes animate_indicator {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes process_indicator_animate {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.process1_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process2_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process3_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process4_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process5_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process6_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}
.process7_wrapper {
  opacity: 0;
  animation: animate_process cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
  visibility: hidden;
}

@keyframes animate_process {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

/* template */
.logo {
  min-width: 108px;
  height: 108px;
  margin-top: 20px;
}
.offer-image {
  object-fit: contain !important;
}
.nav-bottom {
  min-width: 120px;
}
.overlays {
  z-index: 10px !important;
}
.card-preview {
  z-index: 50px !important;
}

.card-preview-successfull-animation {
  animation: animate_successfull 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s
    forwards;
}

@keyframes animate_successfull {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.franch-register-inputs {
  border-radius: 50px;
  padding: 12px 30px;
}

#header_logo_bg {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#header_logo {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-logo-bg-active {
  margin-top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

#header_logo_bg:hover {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
  #header_logo_bg {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
  #header_logo {
    height: 2.5rem /* 40px */;
  }
}

#header_create_button {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#pass_strength_display {
  margin-top: -10px;
  opacity: 0;
  animation: slide-up 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
#whatis_strong_pass {
  margin-top: -10px;
  opacity: 0;
  animation: slide-up 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slide-up {
  0% {
    margin-top: -15px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

input {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.franchisee_password_forgot_button {
  background-color: rgb(126 58 242 / 1);
}

.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}
.add_features_wrapper {
  min-width: 400px !important;
  margin-top: 10px;
}

/* Page not found */

#app {
  background: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  z-index: 1;
}
#wrapper {
  text-align: center;
}
/* Our mixin positions a copy of our text directly on our existing text, while also setting content to the appropriate text set in the data-text attribute. */
.glitch {
  position: relative;
  color: black;
  font-size: 5em;
  letter-spacing: 0.2em;
  /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
  animation: glitch-skew 4s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 rgb(102, 53, 227);
  /* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
  animation: glitch-anim 10s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px rgb(102, 53, 227);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
/* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(35px, 9999px, 74px, 0);
    transform: skew(0.58deg);
  }
  5% {
    clip: rect(94px, 9999px, 86px, 0);
    transform: skew(0.54deg);
  }
  10% {
    clip: rect(72px, 9999px, 83px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(25px, 9999px, 65px, 0);
    transform: skew(0.36deg);
  }
  20% {
    clip: rect(11px, 9999px, 21px, 0);
    transform: skew(0.14deg);
  }
  25% {
    clip: rect(40px, 9999px, 32px, 0);
    transform: skew(0.04deg);
  }
  30% {
    clip: rect(57px, 9999px, 28px, 0);
    transform: skew(0.6deg);
  }
  35% {
    clip: rect(71px, 9999px, 54px, 0);
    transform: skew(0.63deg);
  }
  40% {
    clip: rect(31px, 9999px, 96px, 0);
    transform: skew(0.18deg);
  }
  45% {
    clip: rect(76px, 9999px, 59px, 0);
    transform: skew(0.13deg);
  }
  50% {
    clip: rect(35px, 9999px, 13px, 0);
    transform: skew(0.06deg);
  }
  55% {
    clip: rect(9px, 9999px, 50px, 0);
    transform: skew(0.09deg);
  }
  60% {
    clip: rect(79px, 9999px, 44px, 0);
    transform: skew(0.98deg);
  }
  65% {
    clip: rect(62px, 9999px, 59px, 0);
    transform: skew(0.54deg);
  }
  70% {
    clip: rect(79px, 9999px, 15px, 0);
    transform: skew(0.18deg);
  }
  75% {
    clip: rect(56px, 9999px, 46px, 0);
    transform: skew(0.64deg);
  }
  80% {
    clip: rect(78px, 9999px, 70px, 0);
    transform: skew(0.14deg);
  }
  85% {
    clip: rect(36px, 9999px, 48px, 0);
    transform: skew(0.86deg);
  }
  90% {
    clip: rect(73px, 9999px, 40px, 0);
    transform: skew(0.04deg);
  }
  95% {
    clip: rect(95px, 9999px, 83px, 0);
    transform: skew(0.84deg);
  }
  100% {
    clip: rect(98px, 9999px, 93px, 0);
    transform: skew(0.75deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(85px, 9999px, 15px, 0);
    transform: skew(0.92deg);
  }
  5% {
    clip: rect(40px, 9999px, 52px, 0);
    transform: skew(0.43deg);
  }
  10% {
    clip: rect(32px, 9999px, 21px, 0);
    transform: skew(0.02deg);
  }
  15% {
    clip: rect(59px, 9999px, 6px, 0);
    transform: skew(0.06deg);
  }
  20% {
    clip: rect(29px, 9999px, 32px, 0);
    transform: skew(0.63deg);
  }
  25% {
    clip: rect(66px, 9999px, 96px, 0);
    transform: skew(0.44deg);
  }
  30% {
    clip: rect(79px, 9999px, 20px, 0);
    transform: skew(0.51deg);
  }
  35% {
    clip: rect(72px, 9999px, 80px, 0);
    transform: skew(0.79deg);
  }
  40% {
    clip: rect(93px, 9999px, 94px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(64px, 9999px, 80px, 0);
    transform: skew(0.82deg);
  }
  50% {
    clip: rect(39px, 9999px, 38px, 0);
    transform: skew(0.85deg);
  }
  55% {
    clip: rect(63px, 9999px, 23px, 0);
    transform: skew(0.43deg);
  }
  60% {
    clip: rect(20px, 9999px, 28px, 0);
    transform: skew(0.06deg);
  }
  65% {
    clip: rect(22px, 9999px, 46px, 0);
    transform: skew(0.47deg);
  }
  70% {
    clip: rect(84px, 9999px, 13px, 0);
    transform: skew(0.21deg);
  }
  75% {
    clip: rect(91px, 9999px, 53px, 0);
    transform: skew(0.56deg);
  }
  80% {
    clip: rect(40px, 9999px, 59px, 0);
    transform: skew(1deg);
  }
  85% {
    clip: rect(30px, 9999px, 68px, 0);
    transform: skew(0.43deg);
  }
  90% {
    clip: rect(50px, 9999px, 26px, 0);
    transform: skew(0.75deg);
  }
  95% {
    clip: rect(28px, 9999px, 87px, 0);
    transform: skew(0.08deg);
  }
  100% {
    clip: rect(72px, 9999px, 14px, 0);
    transform: skew(0.75deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(-3deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

/* Page not found */

/* Animate Hero text */

/* Party Pop */

#drawing_canvas {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(1.1);
}

/* Loading Animation */

.loading-wrapper {
  position: relative;
}
.loading-wrapper span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: speed 2s infinite ease-in-out;
}
.loading-wrapper .one {
  background: #4285f4;
  animation-delay: 1.5s;
}
.loading-wrapper .two {
  background: #ea4335;
  animation-delay: 1s;
}
.loading-wrapper .three {
  background: #fbbc05;
  animation-delay: 0.5s;
}
.loading-wrapper .four {
  background: #34a853;
}
@keyframes speed {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

/* Loading Animation */
.secondary_loading_wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: white;
  filter: contrast(20);
}
.secondary_loading_wrapper .dot {
  top: 12px;
  left: 5px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.secondary_loading_wrapper .dots {
  transform: translateX(0);
  animation: dots 2.8s infinite;
}
.secondary_loading_wrapper span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
